# Local secrets Example:
# Which Nucleus is active on boot: "a" or "b".
OMNI_ACTIVE_NUCLEUS=a

# Nucleus A
OMNI_A_NAME=BTU
OMNI_A_SERVER=omniverse://141.43.76.21
OMNI_A_USER=
OMNI_A_PASS=

# Nucleus B
OMNI_B_NAME=Cisco
OMNI_B_SERVER=omniverse://192.168.2.113
OMNI_B_USER=demonstration
OMNI_B_PASS=Direkt
